/* HEADER CSS */

header {
    position: sticky;   
    top: 0; 
    z-index: 2;
    background-color: #435B8E;
    font-family: Xilosa;
    color: #fff;
    padding: 0 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.815);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f599b;
}

.logo-texto {
    display: flex;
    align-items: center;

    gap: 10px;
}

.logo-texto p {
    color: white;
    font-size: 35px;

    margin: 0;
}

.menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-icon .icon {
    width: 40px;
    height: auto;
}

/* Menu lateral */
#menu {
    position: fixed;
    top: 70px;
    left: -400px;
    width: 310px;
    height: 93%;
    background-color: #3f599b;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin: 20px 0;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Xilosa';
    padding: 10px;
    display: block;
    background-color: #4866A9;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#menu ul li a:hover {
    background-color: #7691CD;
}

.logo {
    display: flex;
    margin: 0;

    width: 55px;
    height: auto;
}

.llama {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

#llama-img {
    width: 350px;
    height: auto;
}

/* Estilo para quando o menu estiver visível */
#menu.show {
    left: 0;
}
