@media screen and (max-width: 730px) {

    /*Esconder no celular*/

    .nav-bar {
        justify-content: space-between;
        padding: 0px 10px;
    }

    .banner {
        display: none;
    }

    .nav-item {
        display: none;
    }

    /*Esconder no celular*/

    header {
        padding: 0px;
    }

    .banner-mobile {
        display: flex;

        width: 360px;
        height: auto;
    }

    .logo p {
        font-size: 1.875rem;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;

        left: 0;
        top: 57px;
        width: 100%;
        height: 340px;
        padding: 0;

        background-color: #435B8E; /* Mesma cor do header */
        z-index: 10; /* Por cima do conteúdo, mas atrás do header */
    }

    .mobile-menu a {
        text-decoration: none;
        margin-left: 9%;
        margin-top: 0px;

        font-size: 2rem;
        color: #fff;
    }

    #linha {
        align-self: center;

        width: 82%;
        margin-top: 15px;
        margin-bottom: -5px;
        
        border-bottom: 1px solid #fff;
    }

    .mobile-menu .nav-item {
        display: flex;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    /* Informações da bandeira para mobile */
    .infos-bandeira img {
        height: 550px;
    }

    .infos {
        flex-direction: row;
        gap: 5px;
        margin-left: 7%;
        font-size: 1.75rem;
    }

    .bandeiraPe {
        margin-top: -37%;
        margin-left: 26%;
    }

    .bandeiraPe img {
        width: 222px;
        height: 155px;
    }

    .infos-da-bandeira p {
        font-size: 1.25rem;
        margin-top: 52px;
        margin-left: 10px;
    }
}