@media screen and (max-width: 320px) { } @media screen and (max-width: 480px) { } @media screen and (max-width: 600px) { } @media screen and (max-width: 768px) { } @media screen and (max-width: 992px) {    
    .banner {
        display: flex;
        position: relative;
    }
    
    .banner-web img {
        display: none;
    }

    .banner-mobile img {
        display: flex;

        width: 100%;
        height: auto;
    }
    
    .main{
        display: flex;
        background-image: url(../img/fundo-xilogravura.png);
        background-size: auto;
        flex-direction: column;
        align-content: center;
    }

    .conteudo{
        display: flex;
        flex-direction: row;
    }

    .aside{
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
    }

    #cronograma_sexta{
        padding: 0;
    }

    #cronograma_quinta{
        padding: 0;
    }

    .alinhamento{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    }

    .alinhamento2{
    display: flex;
    flex-direction: row;
    }

    #one{
        list-style: none;
        
    }

    #two{
        list-style: none;
    }

    #titulo{
    width: 164px;
    height: auto;

    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    }

    #cangaceiro{
        height: 570px;
        display: none;
    }

    #quinta{
    background-color: #D8B057;
    }

    #sexta{
    background-color: #CC7776;
    }

    .botao {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        margin-bottom: 20px;
        margin: 0;
    }

    .botao button {
        font-family: Xilosa;
        font-size: 30px;
        color: #ffff;

        border-radius: 15px;
        border: none;
        padding: 15px 25px 15px 25px;

        transition: ease 0.2s;
    }

    .botao :hover {
        box-shadow: inset 1px 0px 22px black;
        opacity: 92%;
    }

    .eventos-geral {
        border:  2px solid #D8B057;
    
        width: auto;
        height: auto;
        border-radius: 15px;
        margin: 10px;
    }
    
    .eventos-geral-2 {
        border:  2px solid #CC7776;
    
        width: auto;
        height: auto;
        border-radius: 15px;
        margin: 10px;
    }

    .infos {
        display: flex;
    }
        
    .text-maior{
        font-size: 20px;
        margin: 0;
        font-family: Xilosa;
    }

    .text-menor{
        font-size: 17px;
        margin: 0;
        font-family: Xilosa;
    }

    .text-horario{
        font-size: 20px;
        margin: 0;
        font-family: Anzylna;
    }

    .horario{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        background-color: #D8B057;
        
        width: 70px;
        height: 70px;
        border-radius: 15px;
        margin: 5px 5px 5px 5px;
    }
      
    .horario p {
        font-family: Anzylna;
        font-size: 30px;
        color: #ffff;
    }
      
    .horario2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #CC7776;
        width: 70px;
        height: 70px;
        border-radius: 15px;
        margin: 5px 5px 5px 5px;
    }
      
    .horario2 p {
        font-family: Anzylna;
        font-size: 30px;
        margin: 0;
        color: #ffff;
    }

    #cronograma{

        padding: 0px 0px 0px 0px;

    }

    #cronograma2{

        padding: 0px 0px 0px 0px;

    }

  }