@font-face {
    font-family: Xilosa;
    src: url(/assets/fonts/xilosa_.ttf);
}

@font-face {
    font-family: Anzylna;
    src: url(/assets/fonts/Anzylna.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #435B8E;    
    border-radius: 20px;       
    border: 3px solid rgb(240, 240, 240);  
}