.main{
  display: flex;
  background-image: url(../img/fundo-xilogravura.png);
  background-size: auto;
  flex-direction: column;
  align-content: center;
}

.conteudo{
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.aside{
display: flex;
flex-direction: column;
}

#cronograma_sexta{
display: none;
padding-top: 15px;
padding-left: 49px;
padding-bottom: 50px;
}

#cronograma_quinta{
padding-top: 15px;
padding-left: 49px;
padding-bottom: 50px;
}

.alinhamento{
display: flex;
flex-direction: column;
padding-left: 55px;
}

.alinhamento2{
display: flex;
flex-direction: row;
}

#one{
  list-style: none;
  
}

#two{
  list-style: none;
}

#titulo{
width: 350px;
height: auto;

margin-left: 80px;
margin-bottom: 50px;
margin-top: 50px;
}

#cangaceiro{
  width: auto;
  height: 600px;

  margin-right: 200px;
}

#quinta{
background-color: #D8B057;
}

#sexta{
background-color: #CC7776;
}

.botao {
  display: flex;
  flex-direction: row;

  margin-left: 65px;

  gap: 10px;
}

.botao button {
  font-family: Xilosa;
  font-size: 35px;
  color: #ffff;

  border-radius: 15px;
  border: none;
  padding: 15px 25px 15px 25px;

  transition: ease 0.2s;
}

.botao :hover {
box-shadow: inset 1px 0px 22px black;
opacity: 92%;
}

.eventos-geral {
    border:  2px solid #D8B057;

    width: auto;
    height: auto;
    border-radius: 25px;
    margin: 10px;
}

.eventos-geral-2 {
  border:  2px solid #CC7776;

  width: auto;
  height: auto;
  border-radius: 25px;
  margin: 10px;
}

.eventos{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eventos2{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Xilosa;
  font-size: 20px;
}

.infos p {
  margin: 0;
}

.text-menor{
font-size: 25px;
margin: 0;
font-family: Xilosa;
}

.text-maior{
font-size: 35px;
margin: 0;
font-family: Xilosa;
}

.horario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D8B057;
  width: 106.99px;
  height: 85.59px;
  border-radius: 22px;
  margin: 5px 5px 5px 5px;
}

.horario p {
  font-family: Anzylna;
  font-size: 40px;
  margin: 0;
  color: #ffff;
}

.horario2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #CC7776;
width: 106.99px;
height: 85.59px;
border-radius: 22px;
margin: 5px 5px 5px 5px;
}

.horario2 p {
  font-family: Anzylna;
  font-size: 40px;
  margin: 0;
  color: #ffff;
}