.leao-web {
    background-image: url('../img/fundo-xilogravura.png');
    background-size: cover;
    
    background-repeat: no-repeat;
}

.conteudo{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 75px 0px 50px 0px;
}

.titulo-leao{
    font-family: xilosa;
    font-size: 45px;
    color: #C35251;
    opacity: 75%;
}

.texto-leao{
    font-family: anzylna;
    font-size: 35px;
    color: #211A13;
    opacity: 75%;

    padding-top: 30px;
    padding-bottom: 30px;
}


.infos{
    margin-left: 85px ;
}

#seta {
    display: flex;

    width: 30px;
    height: auto;
}

.leao-mobile {
    display: none;
}