@font-face {
    font-family: Xilosa;
    src: url('/assets/fonts/xilosa_.ttf')
}

@font-face {
    font-family: Anzylna;
    src: url('/assets/fonts/Anzylna.ttf');
}

.leao-web {
    background-image: url('/assets/img/fundo-xilogravura.png');
    background-size: cover;
    
    background-repeat: no-repeat;
}

.conteudo{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 75px 0px 50px 0px;
}

.titulo-leao{
    font-family: xilosa;
    font-size: 45px;
    padding-bottom: 0px;
    color: #C35251;
    opacity: 75%;
}

.texto-leao{
    font-family: anzylna;
    font-size: 35px;
    color: #211A13;
    opacity: 75%;
}

.infos{
    margin-left: 85px ;
}

.detalhes {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-items: center;

    gap: 15px;

    font-family: Xilosa;
    font-size: 27px;
   
    color: black;
}

#seta {
    display: flex;

    width: 30px;
    height: auto;
}

.leao-mobile {
    display: none;
}