@media screen and (max-width: 320px) { } @media screen and (max-width: 480px) { } @media screen and (max-width: 600px) { } @media screen and (max-width: 768px) { } @media screen and (max-width: 992px) { 
   
   /* BANNER */

    

    /* BANDEIRA */
    .infos-bandeira-pe {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    #infos-bandeira-pe-img {
        width: 143px;
        height: auto;
    
        margin-left: 35px;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    
    .bandeira-geral {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin: 0;
    }
    
    .titulo-bandeira {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        margin-bottom: 0;
    
        font-family: Xilosa;
        font-size: 22px;
    }
    
    #parte-azul {
        color: #435B8E;
    }
    
    .bandeira {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 30px
    }
    
    .bandeira img {
        width: 222px;
        height: auto;
    }
    
    .desc-bandeira {
        display: flex;
        flex-direction: column;
    
        gap: 10px;
        margin-top: 50px;
        margin-left: 5px;
    }
    
    .desc-bandeira p {
        font-family: Xilosa;
        font-size: 18px;
    }
    
    #ceu {
        color: #153676;
    }
    
    /* descrição dos simbolos da bandeira */
    
    .detalhe-bandeira {
        display: flex;
        flex-direction: column;
    
        justify-content: center;
    
        margin-top: 40px;
        gap: 0;
        padding-left: 27px;
    }
    
    .symbol {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .symbol img {
        width: 44px;
        height: auto;
        margin-right: 20px;
    }
    
    #cruz {
        width: 45px;
        height: auto;
    
        margin-left: 0;
    }
    
    .description h2 {
        font-family: Xilosa;
        font-size: 20px;
        margin: 0;
        color: #000;
    }
    
    .description p {
        font-family: Anzylna;
        font-size: 27px;
        margin: 0px 0 0;
        color: #555;
    }

    /* LEAO DO NORTE */
    .leao-web {
        display: none;
    }

    .leao-mobile{
        display: contents;
        background-image: url('/assets/img/backgroundXiloMobile.png');
        width: 360px;
        height: auto;
        margin: 0;
        padding: 0;
    }
    
    .titulo-leao{
        justify-content: center;
        font-family: Xilosa;
        font-size: 22px;
        color: #CD7270;

        margin: 0;
        padding: 0;
    }

    .leao-mobile img {
        width: 122px;
        height: auto;

        float: left;
        margin: 0 15px 10px 0;
        padding: 0;
    }

    .conteudo-leao-mobile p {
        font-family: Anzylna;
        font-size: 18px;
    }





    /* ESTADOS */
    .estado-geral {
        justify-content: center;
    }

    .estado{
        background-size: auto;
        background-image: url('/assets/img/fundoPapel.png');   
        box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2);
    
        margin: 0;
        padding: 0;
    }
    
    .titulo-estado h3{
        font-family: Xilosa;
        font-size: 25px;
        color: #CD7270;
    
        padding: 0;
        margin: 0;
    }
    
    #row-mapa{
        /* align-items: center; */
        display: flex;
        flex-direction: column;

        justify-content: center;
    
        margin: 0;
    
        /* margin-left: 12%; */
    }
    
    .mapa-estados img {
        justify-content: center;
        width: 348px;
        height: auto;

        margin: 0;
        padding: 0;
    }
    
    #dropdown {
        justify-content: center;
        position: left;

        margin: 0;
    }
    
    #dropdown summary{
        font-family: Xilosa;
        font-size: 18px;
        opacity: 85%;
    }
    
    #dropdown p {
        padding-top: 17px;
        padding-bottom: 20px;
        font-family: Anzylna;
        font-size: 20px;

        max-width: 348px;
    
        color: black;
        opacity: 70%;
    }
    
    section details summary {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        max-width: 600px;
    }
    
    .botao-dropdown {
        width: 348px;
        font-family: Xilosa;
        font-size: 25px;
        max-width: 500px;
        text-align: left;
    
        border: none;
        padding-left: 17px;
        
        color: black;
        opacity: 75%;
    }
    
    .seta{
        border: none;
        font-size: 20px;
    }
    
    .fa-solid fa-chevron-right {
        width: 40px;
        height: auto;
    }
    
    .divider {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: 5px 0;
        width: 348px;
    }
    
    #mais-detalhes-rm, #mais-detalhes-zm, #mais-detalhes-ag {
        font-family: Xilosa;
        color: black;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    #mais-detalhes-rm:hover, #mais-detalhes-zm:hover, #mais-detalhes-ag:hover {
        text-decoration: underline rgba(0, 0, 0, 0.8);
    }
}